<template>
  <section class="contact-page">

    <div class="contact-page__items">
      <div class="contact-page__items__blocks">
        <img src="@/assets/call.svg" alt="">
        <a href="tel:7 (4742) 28-03-53">+7 (4742) 28-03-53</a>
      </div>

      <div class="contact-page__items__blocks">
        <img src="@/assets/time.svg" alt="">

        <p>Пн-пт 07:30 – 22:00</p>
        <p>Сб, вс 09:00 – 18:00</p>
      </div>
      <div class="contact-page__items__blocks">
        <img src="@/assets/email.svg" alt="">
        <a href="mailto:ozone.lipetsk@mail.ru">ozone.lipetsk@mail.ru</a>

      </div>
    </div>
    <footerSite />
  </section>
</template>

<script>
  import headerSite from "@/components/headerSite";
  import footerSite from "@/components/footerSite";
  export default {
    components:{
      headerSite,footerSite
    }
  }
</script>

<style scoped>

</style>
