<template>
  <section>
    <div class="team"></div>
    <div class="news">
      <h1 class="title-header-news">{{ newObject.title}}</h1>

        <div v-if="sliderImages.length === 1" class="slider-news-one" :style="{
          'background-image': `url(${ sliderImages})`,
          'background-size': 'cover',
          'background-repeat': 'no-repeat'}"
        >
        </div>

      <hooper v-else playSpeed="4000" transition="1000" infiniteScroll="true" class="slider-wrapper">

        <slide v-for="item in sliderImages" :key="'slider'+item.id">
          <div class="slider-news" :style="{
          'background-image': `url(${ item})`,
          'background-size': 'cover',
          'background-repeat': 'no-repeat'}"
          >
          </div>
        </slide>

        <hooper-navigation class="btn-slider" slot="hooper-addons"></hooper-navigation>
      </hooper>


      <p class="wrapper-news__new__title">{{ newObject.title}}</p>
      <p class="wrapper-news__text" v-html="newObject.text"></p>
    </div>



    <footerSite/>
  </section>
</template>

<script>
  import headerSite from "@/components/headerSite";
  import footerSite from "@/components/footerSite";
  import {Hooper, Slide, Pagination as HooperPagination, Navigation as HooperNavigation} from 'hooper';
  import 'hooper/dist/hooper.css';

  export default {
    components: {
      headerSite,
      footerSite,
      Hooper,
      Slide,
      HooperPagination,
      HooperNavigation
    },
    data(){
      return{
        newObject : {},
        sliderImages : []
      }
    },
    mounted() {
      const url  = `http://api.ozone48.ru/news/`;
      fetch(url)
        .then( res => res.json() )
        .then( res => {
          let AllNews  = res.results;
          let result = AllNews.filter( (item) => item.id == this.$route.params.id);
          this.newObject = result[0];


          for ( let i = 0; i<result[0].news_photo.length; i++ ){
            this.sliderImages.push(result[0].news_photo[i].image)

          }

        })
    }
  }

</script>

<style scoped>
.slide{
  text-align: center;
}
  .slider-wrapper{
    padding-bottom: 0;
  }
</style>
