<template>
  <section class="wrapper__services-detail">
    <div class="services-detail__image"></div>
    <div class="services-detail">

      <h2>Дополнительные услуги:</h2>

      <div class="services__block" v-for="item in servObj" :key="'serv'+item.id">
        <div class="services__element__detail">
          <img class="services__element-img" :src="item.image" alt="">
          <div class="services__element-text">
            <h3>{{ item.title }}</h3>
            <p class="services__element-info" v-html="item.desc"></p>
          </div>
        </div>


      </div>

    </div>
    <footerSite/>
  </section>
</template>

<script>
  import headerSite from "@/components/headerSite";
  import footerSite from "@/components/footerSite";

  export default {
    components: {
      headerSite,
      footerSite
    },
    data(){
      return{
        servObj : {}
      }
    },
    mounted() {
      const url = `http://api.ozone48.ru/service/`;
      fetch(url)
        .then( res => res.json() )
        .then( res => {
           this.servObj =  res.results
        })
    }
  }
</script>

<style scoped>

</style>
