<template>
  <section>

    <section class="video">
      <video class="video-gal" autoplay  loop>
        <source    src="@/assets/video.mp4">
      </video>


    </section>
    <section class="gallery detail-gallery ">
      <h2>ГАЛЕРЕЯ:</h2>
      <div class="wrapper-gallary clearfix">
        <VueGallery :images="images" :index="index" @close="index = null"></VueGallery>
        <div
          class="image clearfix"
          v-for="(image, imageIndex) in images"
          :key="imageIndex"
          @click="index = imageIndex"
          :style="{ backgroundImage: 'url(' + image + ')' }"
        ></div>
      </div>

    </section>
    <footerSite/>
  </section>
</template>

<script>
  import headerSite from "@/components/headerSite";
  import footerSite from "@/components/footerSite";
  import VueGallery from 'vue-gallery';

  export default {
    components: {
      headerSite,
      footerSite, VueGallery
    },
    data: function () {
      return {
        images: [],
        index: null
      };
    },
    mounted() {

      const url = `http://api.ozone48.ru/gallery/`
      fetch(url)
        .then(res => res.json())
        .then(res => {

          let images = []

          for (let i = 0; i < res.results.length; i++) {
            this.images.push(res.results[i].image)
          }

        })
    }
  }
</script>

<style scoped>
  @media screen and (max-width: 760px) {
    .gallery {
      margin-top: 0;
      background-color: #161616;
    }
  }
</style>
