<template>
  <hooper :infiniteScroll="true" :wheelControl="false" :autoPlay="true" :playSpeed="3000" :transition="1000" class="slider-wrapper slider-wrapper-index">
    <slide>
      <section class="main main-first">

        <div class="service">
          <h2>ТРЕНАЖЕРНЫЙ ЗАЛ</h2>
          <ul class="service__list">
            <li>Силовые тренажеры</li>
            <li>Беговые дорожки</li>
            <li>Эллиптические тренажеры</li>
            <li>Велотренажеры</li>
          </ul>
        </div>
      </section>
    </slide>
    <slide>
      <section class="main main-second">
        <div class="service">
          <h2>Фитнес</h2>
          <ul class="service__list">
            <li>Йога, Pilates</li>
            <li>Клубная латина</li>
            <li>Силовой класс</li>
            <li>Функциональный тренинг</li>
            <li>Степ-аэробика</li>
            <li>Soft fitness</li>
          </ul>
        </div>
      </section>
    </slide>

    <slide>
      <section class="main main-three">
        <div class="service">
          <h2>Дополнительные
            услуги:</h2>
          <ul class="service__list">
            <li>Гостевой визит</li>
            <li>Персональный тренинг</li>
            <li>Составление программы тренировок</li>
            <li>Составление программы питания</li>
            <li>Зона кроссфита</li>

          </ul>
        </div>
      </section>
    </slide>


    <hooper-navigation class="btn-slider" slot="hooper-addons"></hooper-navigation>
    <hooper-pagination slot="hooper-addons"></hooper-pagination>
  </hooper>


</template>

<script>
  import headerSite from "@/components/headerSite";
  import {Hooper, Slide, Pagination as HooperPagination, Navigation as HooperNavigation} from 'hooper';
  import 'hooper/dist/hooper.css';

  export default {
    name: "mainPageSlider",
    components: {
      headerSite,
      Hooper,
      Slide,
      HooperPagination,
      HooperNavigation
    },
    data() {
      return {
      }
    }
  }
</script>

<style>
  .slider-wrapper{
    height: auto !important;

    overflow: hidden;
    outline: none;
  }
  .btn-slider button{
    outline: none;
  }
  .btn-slider svg{
    fill: #fff;
    width: 3vw;
    height: 3vw;
  }
  .hooper-pagination {
    padding-bottom: 2vw !important;
  }
  .hooper-list {

    height: auto !important;
  }
  @media screen and (max-width: 760px) {
    .slider-wrapper{
      height: 50vh;
    }
  }
</style>

