<template>
  <section class="description">
<!--    <h2><span>OZONE</span> ФИТНЕС ЭТО:</h2>-->
    <img class="logo-ozone" src="@/assets/logo_ozon.png" alt="">
    <div class="discription__flex">
      <nuxt-link to="/Cards" class="discription__flex-element">
        <img class="discription__flex-img" src="@/assets/cards.svg" alt="">
        <p class="discription__flex-text">Клубные <br>карты</p>
      </nuxt-link>
      <nuxt-link to="/team" class="discription__flex-element">
        <img class="discription__flex-img" src="@/assets/trainer.svg" alt="">
        <p class="discription__flex-text">Персональные тренеры</p>
      </nuxt-link>

      <nuxt-link to="schedule" class="discription__flex-element">
        <img class="discription__flex-img" src="@/assets/programs.svg" alt="">
        <p class="discription__flex-text">Групповые программы</p>
      </nuxt-link>
    </div>
    <div class="recording">
<!--      <p class="recording__start">НАЧНИ ТРЕНИРОВАТЬСЯ СЕГОДНЯ</p>-->
      <p class="recording__today">НАЧНИ ТРЕНИРОВАТЬСЯ СЕГОДНЯ</p>
      <nuxt-link to="/form" class="recording__link">Записаться на бесплатный гостевой визит</nuxt-link>
    </div>
  </section>
</template>

<script>
  export default {}
</script>

<style scoped>

</style>
