<template>
  <nuxt-link :to="'/news/'+item.id" class="news-block">
    <img class="news-block__img" :src="item.news_photo[0].image" alt="">
    <div class="wrapper-news">
      <div class="wrapper-news__new">
        <h4 class="wrapper-news__new__title">{{ item.title }}</h4>
        <p class="wrapper-news__text" v-html="item.text"></p>
      </div>
      <p class="wrapper-news__new__date">{{ item.data }}</p>
    </div>
  </nuxt-link>
</template>

<script>
  export default {
    props:{
      item: {
        type: Object,
        required : true
      }
    }
  }
</script>

