<template>
  <div class="cards__top">
    <div class="cards__start">
      <div class="cards__description-start">
        <p class="cards__text">Посещение групповых занятий</p>
        <p class="cards__text">Посещение тренажерного зала</p>
        <p class="cards__text">Зал единоборств</p>
        <p class="cards__text">Камера хранения</p>
        <p class="cards__text">Сауна</p>
      </div>

      <div class="cards__name-start">
        <h3>CLASSIC</h3>
        <div class="timetable__flex-start">
          <p class="cards__timetable">Ежедневно </p>
          <p class="cards__timetable">с 7:30 до 22:00</p>
        </div>
      </div>
      <img class="card__img" src="@/assets/cards.png" alt="">
    </div>
    <div class="cards__end">
      <img class="card__img" src="@/assets/cards.png" alt="">
      <div class="cards__name-end">
        <h3>ПОЗИТИВ</h3>
        <div class="timetable__flex-end">
          <p class="cards__timetable">15 посещений </p>
          <p class="cards__timetable"> в месяц </p>
          <p class="cards__timetable">с 14:00 до 17:00</p>
        </div>
      </div>

      <div class="cards__description-end">
        <p class="cards__text">Посещение групповых занятий</p>
        <p class="cards__text">Посещение тренажерного зала</p>
        <p class="cards__text">Зал единоборств</p>
        <p class="cards__text">Камера хранения</p>
        <p class="cards__text">Сауна</p>
      </div>
    </div>
  </div>
</template>

<script>
    export default {
        name: "blockCard"
    }
</script>

<style scoped>

</style>
