<template>
  <footer>
    <div class="footer__top">
      <img class="logo-ozone__footer" src="@/assets/logo_ozon.png" alt="">
      <div class="header__menu">
        <nuxt-link to="/services" class="header__menu-element">Услуги</nuxt-link>
        <nuxt-link to="/schedule" class="header__menu-element">Расписание</nuxt-link>
        <nuxt-link to="/news" class="header__menu-element">Новости</nuxt-link>
        <nuxt-link to="/gallary" class="header__menu-element">Галерея</nuxt-link>
        <nuxt-link to="/team" class="header__menu-element">Команда</nuxt-link>
        <nuxt-link to="contact" class="header__menu-element">Контакты</nuxt-link>
      </div>
    </div>
    <div class="footer__flex">
      <div class="footer__address">
        <p class="footer__adress-text">г. Липецк</p>
        <p class="footer__adress-text">улица Нижняя Логовая, дом 2</p>
        <div class="footer__wrapper">
          <div class="footer__schedule">
            <p class="footer__schedule-text">Пн-пт 07:30 – 22:00</p>
            <p class="footer__schedule-text">Сб, вс 09:00 – 18:00</p>
          </div>
        </div>
      </div>
      <div class="footer__number">
        <a href="tel:+7 (4742) 28-03-53" class="footer__number-text">+7 (4742) 28-03-53</a>
        <a href="mailto:ozone.lipetsk@mail.ru" class="footer__mail">ozone.lipetsk@mail.ru</a>

        <div class="wrapper__footer-link-media">
          <a target="_blank" class="footer-link-media"
             href="https://vk.com/ozzzonefitness">
            <img src="@/assets/vk.svg" alt="">
            <p>Мы в ВК</p>

          </a>

          <a target="_blank" class="footer-link-media" href="https://www.instagram.com/ozzzonefitness/">
            <img src="@/assets/insta.svg" alt="https://www.instagram.com/ozzzonefitness/?igshid=1xgscz1c33i1v">
            <p>Мы в Instagram</p>
          </a>


        </div>
      </div>
    </div>

    <link href="https://clients.streamwood.ru/StreamWood/sw.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="https://clients.streamwood.ru/StreamWood/sw.js" charset="utf-8"></script>
    <script type="text/javascript">
      swQ(document).ready(function () {
        swQ().SW({
          swKey: 'b4c74040b62c64f722f4fa252d395a81',
          swDomainKey: '10f0501eb4bda2a3a39ee4524a88d4fd'
        });
        swQ('body').SW('load');
      });
    </script>

  </footer>
</template>

<script>
  export default {}
</script>

<style scoped>

</style>
