<template>
  <header>
    <img @click="ClickBurger" class="burger-menu" src="@/assets/burger.svg" alt="">
    <nuxt-link to="/" class="header__title">
<!--      <h1>Ozone</h1>-->
      <img src="@/assets/logo_ozon.png" alt="">
<!--      <p class="header__title-element">Фитнес клуб</p>-->
    </nuxt-link>
    <nav class="header__menu">
      <nuxt-link to="/services" class="header__menu-element">Услуги</nuxt-link>
      <nuxt-link to="/schedule" class="header__menu-element">Расписание</nuxt-link>
      <nuxt-link to="/news" class="header__menu-element">Новости</nuxt-link>
      <nuxt-link to="/gallary" class="header__menu-element">Галерея</nuxt-link>
      <nuxt-link to="/team" class="header__menu-element">Команда</nuxt-link>
      <nuxt-link to="contact" class="header__menu-element">Контакты</nuxt-link>

    </nav>
  </header>
</template>

<script>
    export default {
        methods:{
          ClickBurger(){
            this.$store.dispatch("setBurger");
          }
        }
    }
</script>

<style scoped>
header .header__title {
  color: #fff;
  align-items: center;
}


</style>
