<template>

  <div @mouseenter="openDopInfo" @mouseleave="closeDopInfo" class="schedule-occupation__item">
    <p v-if="!dopInfo" class="schedule-occupation__title">{{ scheduleItem.title }}</p>
    <p v-if="!dopInfo" class="schedule-occupation__name">{{ scheduleItem.trainer }}</p>
    <p  v-if="!dopInfo" class="schedule-occupation__time">{{ scheduleItem.time_lte.split(':').slice(0, -1).join(':') }} - {{ scheduleItem.time_gte.split(':').slice(0, -1).join(':')}}</p>
    <p v-if="dopInfo" class="schedule-occupation__pols">{{ scheduleItem.desc }}</p>
  </div>
</template>

<script>
  export default {
    name: "schedule",
    props: {
      scheduleItem: {
        type: Object,
      }
    },
    watch:{
      scheduleItem(){
        console.log(this.scheduleItem)
      }
    },
    data(){
      return{
        dopInfo : false
      }
    },
    methods:{
      openDopInfo(){
        this.dopInfo = true
      },
      closeDopInfo(){
        this.dopInfo = false
      }
    }
  }
</script>

<style scoped>

</style>
