<template>
  <div>
    <nuxt-link v-if="stock.length=== 1" :to="'/news/'+stock[0].id">
      <img style="width: 100%" :src="stock[0].image" alt="">
    </nuxt-link>
    <hooper v-else :infiniteScroll="true" :wheelControl="false" :autoPlay="true" :playSpeed="3000" :transition="1000"
            class="slider-wrapper slider-wrapper-index">
      <slide  v-for="item in stock" :key="`stock${item.id}`">
        <nuxt-link  :to="'/news/'+item.id">

            <img style="width: 100%" :src="item.image" alt="">

          </nuxt-link>
      </slide>
      <hooper-navigation class="btn-slider" slot="hooper-addons"></hooper-navigation>
    </hooper>
  </div>
</template>

<script>
  import {Hooper, Slide, Pagination as HooperPagination, Navigation as HooperNavigation} from 'hooper';
  import 'hooper/dist/hooper.css';

  export default {
    props: ['stock'],
    components: {
      Hooper,
      Slide,
      HooperNavigation
    }

  }
</script>

<style scoped>
  .slide{
    text-align: center;
  }
  .slider-wrapper{
    padding-bottom: 0;
  }
</style>
