<template>
  <section>
    <div class="services-detail__image"></div>
    <div class="services-detail">
      <h2>Расписание</h2>
      <div class="date-schedule">
        <p>{{ date.start }}</p>
        <p> - </p>
        <p>{{ date.end }}</p>
      </div>
      <div @mouseleave="liveFilterMove" class="wrapper-filter">
        <p @mouseover="enterFilterMove" class="filter-title">{{ filterTitle }}</p>
        <div v-if="filterList" class="filter-list">
          <p
            v-for="item in filterData"
            :key="'folter'+item.id"
            @click="choiseFilter(item.title, item.id)"
          >
            {{ item.title }}
          </p>

          <p
            @click="watchAllfilter"
          >
            Показать все
          </p>

        </div>
      </div>

      <div class="schedule-headers">

        <div class="schedule-headers__item">

          <p class="schedule-headers__title">Понедельник</p>
          <div class="wrapper-schedule-occupation">

            <schedule v-for="(item,i)  in Monday" :key="'monday'+i" :scheduleItem="item" />


          </div>
        </div>

        <div class="schedule-headers__item">
          <p class="schedule-headers__title">Вторник</p>
          <div class="wrapper-schedule-occupation">
            <schedule v-for="(item,i)  in Tuesday" :key="'monday'+i" :scheduleItem="item" />
          </div>
        </div>

        <div class="schedule-headers__item">
          <p class="schedule-headers__title">Среда</p>
          <div class="wrapper-schedule-occupation">
            <schedule v-for="(item,i)  in Wednesday" :key="'monday'+i" :scheduleItem="item" />
          </div>
        </div>

        <div class="schedule-headers__item">
          <p class="schedule-headers__title">Четверг</p>
          <div class="wrapper-schedule-occupation">
            <schedule v-for="(item,i)  in Thursday" :key="'monday'+i" :scheduleItem="item" />
          </div>
        </div>

        <div class="schedule-headers__item">
          <p class="schedule-headers__title">Пятница</p>
          <div class="wrapper-schedule-occupation">
            <schedule v-for="(item,i)  in Friday" :key="'monday'+i" :scheduleItem="item" />
          </div>
        </div>
        <div class="schedule-headers__item">
          <p class="schedule-headers__title">Суббота</p>
          <div class="wrapper-schedule-occupation">
            <schedule v-for="(item,i)  in Saturday" :key="'monday'+i" :scheduleItem="item" />
          </div>
        </div>
        <div class="schedule-headers__item">
          <p class="schedule-headers__title">Воскресенье</p>
          <div class="wrapper-schedule-occupation">
            <schedule v-for="(item,i)  in Sunday" :key="'monday'+i" :scheduleItem="item" />
          </div>
        </div>


      </div>
    </div>

    <footerSite/>
  </section>
</template>

<script>
  import headerSite from "@/components/headerSite";
  import footerSite from "@/components/footerSite";
  import schedule from "@/components/schedule";

  export default {
    components: {
      headerSite,
      footerSite,schedule
    },
    data() {
      return {
        Monday: null,
        Tuesday: null,
        Wednesday: null,
        Thursday: null,
        Friday: null,
        Saturday: null,
        Sunday: null,
        filterList: false,
        filterData: {},
        filterTitle: 'Выберите категорию',
        date : {}
      }
    },
    mounted() {
      const url = 'http://api.ozone48.ru/timetable/'
      fetch(url)
        .then(res => res.json())
        .then(res => {
          console.log(res)
          this.Monday = res.results[0].day_week_training;
          this.Tuesday = res.results[1].day_week_training;
          this.Wednesday = res.results[2].day_week_training;
          this.Thursday = res.results[3].day_week_training;
          this.Friday = res.results[4].day_week_training;
          this.Saturday = res.results[5].day_week_training;
          this.Sunday = res.results[6].day_week_training;
          this.date = res.date;
          this.filterData = res.categories
        })
    },
    methods: {
      enterFilterMove() {
        this.filterList = true
      },
      liveFilterMove() {
        this.filterList = false
      },
      choiseFilter(title, id) {
        this.filterTitle = title;
        const url = `http://api.ozone48.ru/timetable/${id}`;

        fetch(url)
          .then(res => res.json())
          .then(res => {
            this.Monday = {};
            this.Tuesday = {};
            this.Wednesday = {};
            this.Thursday = {};
            this.Friday = {};
            this.Saturday = {};
            this.Sunday = {};
            this.filterList = false;





            let MondayData = [],
              TuesdayData = [],
              WednesdayData = [],
              ThursdayData = [],
              FridayData = [],
              SaturdayData = [],
              SundayData = [];

            res.results[0].category_training.map(item => {

              switch (item.day_week_training) {

                case 'Понедельник':
                  MondayData.push(item);
                  break;

                case 'Вторник':
                  TuesdayData.push(item);
                  break;

                case 'Среда':
                  WednesdayData.push(item);
                  break;

                case 'Четверг':
                  ThursdayData.push(item);
                  break;

                case 'Пятница':
                  FridayData.push(item);
                  break;

                case 'Суббота':
                  SaturdayData.push(item);
                  break;

                case 'Воскресенье':
                  SundayData.push(item);
                  break;

                default:
                  alert("Нет таких значений");
              }

            })

            this.Monday = MondayData;
            this.Tuesday = TuesdayData;
            this.Wednesday = WednesdayData;
            this.Thursday = ThursdayData;
            this.Friday = FridayData;
            this.Saturday = SaturdayData
            this.Sunday = SundayData;

          })
      },
      watchAllfilter(){
        const url = 'http://api.ozone48.ru/timetable/'
        fetch(url)
          .then(res => res.json())
          .then(res => {
            this.Monday = res.results[0].day_week_training;
            this.Tuesday = res.results[1].day_week_training;
            this.Wednesday = res.results[2].day_week_training;
            this.Thursday = res.results[3].day_week_training;
            this.Friday = res.results[4].day_week_training;
            this.Saturday = res.results[5].day_week_training;
            this.Sunday = res.results[6].day_week_training;
            this.filterTitle = 'Выбирите категорию'
            this.filterList = false;
          })
      }
    }
  }
</script>

<style scoped>

</style>
