<template>
  <section class="">

    <div class="team"></div>

    <div class="team-content">


      <div class="teams-block" v-for="item in trainObj">
        <h3 class="teams-block__title">{{ item.title }}</h3>

        <div class="teams-block" v-for="(blocs,index) in item.category_train">


          <div class="teams-block__info">
            <img class="teams-block__img" :src="blocs.image" alt="">
            <div class="teams-block__info__text-right">
              <p class="teams-info-block__title">{{ blocs.title }}</p>
              <div v-html="blocs.desc">
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
    <footerSite/>
  </section>
</template>

<script>
  import headerSite from "@/components/headerSite";
  import footerSite from "@/components/footerSite";

  export default {
    components: {
      headerSite,
      footerSite
    },
    data() {
      return {
        trainObj: {}
      }
    },
    mounted() {
      const url = 'http://api.ozone48.ru/train/';

      fetch(url)
        .then(res => res.json())
        .then(res => {
          this.trainObj = res.results
        })
    }
  }
</script>

<style scoped>

</style>
