<template>
  <form   action="https://formspree.io/xyyjrjng"
          method="POST" class="forms">
    <p class="form-title">ЗАПОЛНИТЕ АНКЕТУ И ПОЛУЧИТЕ
      БЕСПЛАТНУЮ ТРЕНИРОВКУ!</p>
    <div class="services-detail__image"></div>

    <p class="form-info">Также, мы проконсультируем Вас по всем направлениям
      занятий и ответим на ваши вопросы</p>

    <div class="wrapper-form-item">
      <p class="wrapper-form-item__name">Фамилия</p>
      <input class="wrapper-form-item__input" name="Фамилия" required type="text" placeholder="Введите текст">
    </div>

    <div class="wrapper-form-item">
      <p class="wrapper-form-item__name">Имя</p>
      <input name="Имя" class="wrapper-form-item__input" required type="text" placeholder="Введите текст">
    </div>

    <div class="wrapper-form-item">
      <p class="wrapper-form-item__name">Отчество</p>
      <input name="Отчество" class="wrapper-form-item__input" required type="text" placeholder="Введите текст">
    </div>

    <div class="wrapper-form-item">
      <p class="wrapper-form-item__name">Номер телефона</p>
      <input name="Номер телефона" class="wrapper-form-item__input" required type="text" placeholder="Введите текст">
    </div>


    <input class="forms-submit" type="submit" value="ОТПРАВИТЬ">


  </form>
</template>

<script>
  export default {}
</script>

