<template>
  <section  class="wrapper__services-detail">
    <div class="team"></div>
    <div class="news">
      <h1 class="title-header-news">НОВОСТИ:</h1>
      <BlockNews v-for="item in news" :item="item"  :key="'news'+item.id" />
    </div>

    <footerSite />
  </section>
</template>

<script>
  import BlockNews from "@/components/BlockNews";
  import headerSite from "@/components/headerSite";
  import footerSite from "@/components/footerSite";
  export default {
    components:{
      headerSite,
      footerSite,BlockNews
    },
    data(){
      return{
        news : null
      }
    },
    mounted() {
      const url  = `http://api.ozone48.ru/news/`;
      fetch(url)
        .then( res => res.json() )
        .then( res => {
          this.news = res.results

        })
    }
  }
</script>
