<template>
  <div>
    <headerSite/>
    <nuxt/>
    <div v-if="burger" class="nav-mobail">
      <nav>
        <span @click="Clickburger">
        <nuxt-link to="/services" class="header__menu-element">Услуги</nuxt-link>
        </span>

        <span @click="Clickburger">
        <nuxt-link to="/schedule" class="header__menu-element">Расписание</nuxt-link>
        </span>

        <span @click="Clickburger">
        <nuxt-link to="/news" class="header__menu-element">Новости</nuxt-link>
        </span>

        <span @click="Clickburger">
        <nuxt-link to="/gallary" class="header__menu-element">Галерея</nuxt-link>
        </span>

        <span @click="Clickburger">
        <nuxt-link to="/team" class="header__menu-element">Команда</nuxt-link>
        </span>
        <span @click="Clickburger">
        <nuxt-link to="contact" class="header__menu-element">Контакты</nuxt-link>
        </span>
      </nav>
    </div>
  </div>
</template>


<script>
  import headerSite from "../components/headerSite";
  export default {
    computed: {
      burger() {
        return this.$store.getters.getBurger
      }
    },
    methods: {
      Clickburger() {
        this.$store.dispatch("setBurger");
      }
    },
    components:{
      headerSite
    }
  }
</script>


<style>

</style>
