* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}


body {
  background: #171717;
}

.burger-menu {
  display: none;
}


.image {
  width: 18.38vw;
  height: 8vw;
  float: left;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid #ebebeb;
  margin: 5px;
}

.wrapper-gallary {
  width: 79.16vw;
  margin: 0 auto;
  padding-bottom: 13vw;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.4s;
}

.page-enter,
.page-leave-active {
  opacity: 0;
}


/*Хедер*/
.main {
  position: relative;
  cursor: pointer;

}

.main-first {
  background-image: url('./slider-first.png');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.main-second {
  background-image: url('./slider-second.jpg');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

}


.main-three {
  background-image: url('./slider-three.jpg');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

}


header {
  position: absolute;
  width: 79vw;
  top: 2vw;
  left: 10.51vw;
  z-index: 99999;
  display: flex;
  justify-content: space-between;
}

.header__title {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  color: #fff;
  text-decoration: none;
  font-size: 1.2vw;
}

.header__title h1 {
  font-size: 2.08vw;
  padding-right: 1.05vw;
}

.header__title img {
  width: 16vw;
}

.header__title-element {
  width: 6.9vw;
  font-size: 1.04vw;
  padding-top: 1vw;
}

.header__menu {
  display: flex;
  justify-content: space-around;
  width: 45.77vw;

}

.header__menu-element {
  font-size: 1.04vw;
  padding: 1vw 0 0 2vw;
  color: #fff;
  text-decoration: none;
}

.service {
  padding: 27vw 10.41vw 10.33vw 10.41vw;
}

.service h2 {
  font-size: 2.81vw;
  color: #FF9D42;
  padding-bottom: 1.04vw;
}

.service__list {
  font-size: 1.25vw;
  color: #fff;
  padding-left: 0;
  margin-left: 1.5vw;
  list-style-type: square;
}

.service__list li {
  padding-bottom: 0.3vw;
  padding-left: 0;
}


/* Описание */
.description {
  background-image: url('./background_discription.png');
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;


}

.logo-ozone {
  display: block;
  padding: 3vw 0;
  margin: 0 auto;
  width: 17vw;
}

.logo-ozone__footer {
  width: 15vw;
}

.discription__flex {
  display: flex;
  justify-content: space-around;
  padding: 0 24.5vw;
}

.discription__flex-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 8.1vw;
}

.discription__flex-img {
  width: 5.36vw;
  margin-bottom: 1.92vw;
}

.discription__flex-text {
  text-align: center;
  font-size: 1.04vw;
  text-decoration: none;
  color: #fff;

}

/* Регистрация */
.recording {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 14.27vw 0 4.37vw 0;
}

.recording__start {
  font-size: 1.04vw;
  font-weight: bold;
  color: #fff;
  margin-bottom: 0.52vw;
}

.recording__today {

  font-size: 2.81vw;
  font-weight: bold;
  color: #fff;
  margin-bottom: 1.45vw;

}

.recording__link {
  border: 1px solid #FFFFFF;
  text-decoration: none;
  font-size: 1vw;
  color: #fff;
  padding: 0.8vw 2.44vw 0.8vw 2.44vw;
}

/* Сервисы */
.services {
  background-image: url(./background_services.png);
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;

  padding-bottom: 5vw;

}

.services__title {
  font-size: 1.04vw;
  color: #fff;
  padding: 2vw 0;
  text-align: center;
}

.services__list {
  width: 46.6vw;
  margin: 0 26vw 0 26.8vw;
  background: rgba(0, 0, 0, 0.37);
}

.services__list-top {
  display: flex;
}

.services__list-bottom {
  display: flex;
}

.services__element {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 11.9vw;
  height: 11.5vw;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.services__img {
  width: 2.86vw;
  padding-bottom: 1.51vw;
}

.services__text {
  font-size: 0.93vw;
  color: #FFFFFF;
  text-align: center;
}


/* КЛУБНЫЕ КАРТЫ */
.cards__title {
  font-size: 2.2rem;
  color: #fff;
  text-align: center;
  padding: 8vw 0 4vw 0;
}

.cards__top, .cards__bottom {
  display: flex;
  justify-content: space-between;
  color: #FFFFFF;
  flex-wrap: wrap;
  padding: 0 10.41vw 0 10.41vw;
  min-height: 60vh;
  align-content: flex-start;
}

.no-height {
  min-height: 0;
}

.cards__start, .cards__end {
  display: flex;
  justify-content: space-between;
  width: 37.03vw;
  margin-bottom: 4.11vw;

}

.cards__description-start {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  text-decoration: none;
}

.cards__description-start ul {
  list-style: none;
}

.cards__description-start ul li {
  font-size: 0.72vw;
  padding-right: 1vw;
  padding-bottom: 0.52vw;
}


.cards__name-start {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 11vw;
  height: 6.51vw;
}

.cards__name-start h3 {
  font-size: 1.05vw;

}

.timetable__flex-start {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.cards__timetable {
  font-size: 0.83vw;

}

.card__img {
  width: 6.51vw;
  height: 6.51vw;
}

.cards__name-end {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 10.6vw;
  height: 6.51vw;

}

.cards__name-end h3 {
  font-size: 1.05vw;
}

.timetable__flex-end {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.cards__description-end {
  display: flex;
  flex-direction: column;
  min-width: 12vw;

  border-left: 1px solid rgba(255, 255, 255, 0.2);
  padding-left: 1vw;
}

.cards__description-end ul {
  list-style: none;
}

.cards__description-end ul li {
  padding-bottom: 0.52vw;
}

.link__wrapper {
  display: flex;
  justify-content: center;
}

.services__link {
  border: 1px solid #FFFFFF;
  text-decoration: none;
  font-size: 1vw;
  color: #fff;
  padding: 0.8vw 2.44vw 0.8vw 2.44vw;
  margin: 0 auto;
}

/* Галерея */

.gallery {
  background-color: #161616;

}

.detail-gallery {
  min-height: 72vh;
}


.gallery h2 {
  padding: 4vw 0 3vw 0;
  width: 11vw;
  margin: 0 auto;
  font-size: 2.2vw;
  color: #fff;
}

.gallery__block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 79.16vw;
  margin: 0 10.41vw 0 10.39vw;
}

.gallery__block img {
  width: 18.38vw;
  padding-bottom: 1.87vw;
}

/* футер */
footer {

  padding: 2.03vw 10.51vw 3.28vw 10.31vw;

}

.footer__top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.51vw;
}

.footer__flex {
  display: flex;
  justify-content: space-between;
  font-size: 1.04vw;
  color: #FFF;
  padding-bottom: 1.87vw;

}

.footer__number {
  display: flex;
  flex-direction: column;

}

.footer__number-text {
  color: #FFFFFF;
  text-decoration: none;
  margin-bottom: 0.5vw;
}

.footer__wrapper {
  margin-top: 2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.04vw;
  color: #FFF;
}

.footer__mail {
  color: #FFFFFF;
  text-decoration: none;
}

/* доп услуги */
.wrapper__services-detail {

}

.services-detail__image {
  min-height: 100vh;
  background: url(./background.png);
  background-position: top right;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: -1;
}

.services-detail {
  padding: 8vw 10.46vw 3vw 10.46vw;

}

.video {
  padding: 8vw 10.46vw 3vw 10.46vw;
  min-height: 65vh;
}

.services-detail h2 {
  font-size: 2.2vw;
  color: #fff;
  text-align: center;
  padding-bottom: 2vw;
}

.services__block {

  display: flex;
  flex-direction: column;


}

.services__element__detail {
  width: 60vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 3vw;
}

.services__element-img {
  width: 14vw;

}

.services__element-text {
  display: flex;
  flex-direction: column;

}

.services__element-text h3 {
  font-size: 1.25vw;
  color: #fff;
  padding-bottom: 1.4vw;
}

.services__element-info {
  width: 42.5vw;
  font-size: 0.84vw;
  color: #fff;
}


.nuxt-link-exact-active {
  color: #FE960C;
}


.all__cards {
  background-image: url("./bgCards.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.slider-arrow-left {
  position: absolute;
  left: 5.20vw;
  top: 24.27vw;
  cursor: pointer;
  width: 1.04vw;
}

.slider-arrow-right {
  width: 79.2vw;
  margin: 0 auto;
}

.title-header-news {
  width: 100%;
  text-align: center;
  color: #fff;
  padding-bottom: 3vw;
  font-size: 2.2vw;
}

.news {
  width: 79.22vw;
  margin: 0 auto;
  padding-top: 8vw;
  padding-bottom: 3vw;
  margin-bottom: 5vw;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.video-gal {
  width: 100%;
}

.news-block {
  display: flex;
  align-items: self-start;
  text-decoration: none;
  margin-bottom: 2.86vw;
}

.news-block__img {
  width: 30%;
  margin-right: 2.498vw;
}

.wrapper-news__new__title {
  width: 50%;
  margin-bottom: 1.041vw;
  font-weight: 900;
  font-size: 1.24vw;
  line-height: 150%;
  color: #FFFFFF;
  margin-top: 2vw;
}

.wrapper-news__text {
  font-weight: 500;
  font-size: 0.83vw;
  width: 100%;
  line-height: 160%;
  color: #FFFFFF;
}

.wrapper-news {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
}

.wrapper-news__new__date {
  font-weight: 500;
  font-size: 0.93vw;
  line-height: 140%;
  color: #FFFFFF;
  opacity: 0.55;
}


/*team*/

.team {
  background-image: url("./team-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
  min-height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;

}

.team-content {
  width: 80vw;
  min-height: 55vw;
  margin: 0 auto;
}

.teams-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.teams-block__title {
  width: 70%;
  text-align: center;
  padding-top: 8vw;
  font-size: 1.8vw;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: 700;
  margin: 0 auto;
}

.teams-block__info {
  margin-top: 4.89vw;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.teams-block__info__text-left {
  text-align: right;
  width: 100%;
}

.teams-block__info__text-right {
  text-align: left;
  width: 60vw;
}

.teams-info-block__title {
  font-size: 1.25VW;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 0.93vw;
  font-weight: 700;
}

.teams-info-block__info {
  font-size: 1vw;
  line-height: 140%;
  color: #FFFFFF;
  font-weight: 600;
}


.teams-block__info__text-left div {
  margin-bottom: 1vw !important;
  font-size: 0.82vw !important;
  line-height: 150% !important;
  color: #FFFFFF !important;
}

.teams-block__info__text-right div {
  margin-bottom: 1vw !important;
  font-size: 0.82vw !important;
  line-height: 150% !important;
  color: #FFFFFF !important;
}

.teams-block__info__text-left div * {
  margin-bottom: 1vw;
}

.teams-block__info__text-right div * {
  margin-bottom: 1vw;
}

.teams-info-block__li {
  margin-bottom: 1vw;
  font-size: 0.82vw;
  line-height: 150%;
  color: #FFFFFF;
}

.teams-block__img {
  width: 20vw;
  margin-right: 2vw;
}

.image {
  width: 18.38vw;
  height: 13vw;
  float: left;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid #ebebeb;
  margin: 5px;
}

.wrapper-gallary {
  width: 79.16vw;
  margin: 0 auto;
  padding-bottom: 13vw;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.contact-page {
  background-image: url("./bg-contact.jpg");
  background-size: cover;
}

.contact-page__items {
  padding-top: 25.35vw;
  display: flex;
  justify-content: space-between;
  width: 53.43vw;
  margin: 0 auto;
  margin-bottom: 5vw;
}

.contact-page__items__blocks {
  display: flex;
  flex-direction: column;
}

.contact-page__items__blocks img {
  width: 5.36vw;

  margin: 0 auto;
  margin-bottom: 3vw;
}

.contact-page__items__blocks a {
  font-size: 1.04vw;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 700;
}

.contact-page__items__blocks p {
  font-size: 1.04vw;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 700;
}

.schedule-headers {
  display: flex;
}

.schedule-headers__item {
  width: 14.28%;
}

.schedule-headers__title {
  font-size: 0.93vw;
  text-align: center;
  color: #FFFFFF;
  background: rgba(0, 0, 0, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  backdrop-filter: blur(6px);
  padding: 0.98vw 0;
}

.schedule-occupation__item {
  position: relative;
  background: #FF9D42;
  color: #FFFFFF;
  padding: 1.66vw 0;
  text-align: center;
  min-height: 7vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.schedule-occupation__pols {

}

.schedule-occupation__title {
  font-size: 1.1vw;
  font-weight: 700;
  margin-bottom: 0.5vw;
}

.schedule-occupation__name {
  font-size: 0.93vw;
  margin-bottom: 0.25vw;
}

.schedule-occupation__time {
  font-size: 0.93vw;
  margin-bottom: 0.25vw;
}

.wrapper-cards-tel {
  text-align: center;
}

.wrapper-cards-tel p {
  font-size: 1vw;
  color: #fff;
}


.wrapper-filter {
  position: relative;
  margin-bottom: 2vw;
  width: 20%;
}

.filter-title {
  font-size: 1vw;
  color: #fff;
  text-align: center;
  background: rgba(0, 0, 0, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  backdrop-filter: blur(6px);
  padding: 0.98vw 0;
  cursor: pointer;
}

.filter-list {
  position: absolute;
  padding: 0.98vw;
  background: rgba(0, 0, 0, 1);
  z-index: 99999;
  width: 100%;
  box-sizing: border-box;
}

.filter-list p {
  color: #fff;
  font-size: 1vw;
  margin-bottom: 1vw;
  cursor: pointer;
}

.cards__description-start * {
  font-size: 0.7vw !important;
}

.cards__description-end * {
  font-size: 0.7vw !important;
}

.date-schedule {
  width: 15vw;
  margin: 0 auto;
  display: flex;
  padding-bottom: 1vw;
}

.date-schedule p {
  font-size: 1.2vw;
  text-align: center;
  color: #FFFFFF;
  font-weight: 700;
}

.stream-wood-chat .sw-manager, .stream-wood-invitation .sw-manager, .stream-wood-noreply .sw-manager {
  background: #FF9D42 !important;;
  color: #fff;
  float: none;
  height: auto;
  min-height: 80px;
  padding-bottom: 12px;
  border-top-left-radius: 4px;
  /* box-sizing: content-box; */
}


.forms {

  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 48.95vw;
  margin: 0 auto;
  margin-top: 10.5vw;
}

.form-title {
  font-weight: 700;
  font-size: 2.5vw;
  text-align: center;
  text-transform: uppercase;
  color: #FF9D42
}

.form-info {
  width: 80%;
  margin: 0 auto;
  margin-top: 2vw;
  font-weight: 500;
  font-size: 1.25vw;
  line-height: 125%;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 4vw;
}

.wrapper-form-item {
  width: 70%;
  margin: 0 auto;
}

.wrapper-form-item__name {
  font-weight: 800;
  font-size: 0.93vw;
  color: #FFFFFF;
  margin-bottom: 0.5vw;
}

.wrapper-form-item__input {
  width: 100%;
  outline: none;
  margin-bottom: 1.25vw;
  padding: 1.145vw;


  font-weight: 300;
  font-size: 0.93vw;
}

.forms-submit {

  width: 10vw;
  margin: 0 auto;
  border: 1px solid #969693;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 900;
  font-size: 0.93vw;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0);
  color: #FFFFFF;
  padding: .8vw 0;
  margin-top: 3vw;
}


.wrapper__footer-link-media {
  justify-content: flex-start;
  margin-top: 2vw;
}

.footer-link-media {
  width: 10vw;
  margin-left: 0;
  margin-right: 3vw;
  display: flex;
  text-decoration: none;
  margin-bottom: 1vw;
  align-items: center;
}

.footer-link-media img {
  width: 2vw;
  margin-right: 1vw;
}

.footer-link-media p {
  font-size: .83vw;
  color: #fff;

}

.stream-wood-btn {
  background: #FF9D42 !important
}

.slider-stock {
  width: 100%;
  height: 100vh;
}

.slider-news-one {
  width: 60%;
  margin: 0 auto;
  height: 100vh;
}

.slider-news {
  width: 100%;
  height: 100vh;
}

@media screen and (max-width: 760px) {
  .cards__description-start * {
    font-size: 4vw !important;
    text-align: center !important;
    margin-bottom: 1  vw !important;
  }

  .cards__description-end * {
    font-size: 4vw !important;
    text-align: center !important;
    margin-bottom: 1vw !important;
  }

  .description {
    height: 230vw;
  }

  .description h2 {
    font-size: 5vw;
    padding: 5vw 20vw;
  }

  .discription__flex {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 24.5vw;
    align-items: center;
  }

  .discription__flex-img {
    width: 20vw;
    margin-bottom: 1.92vw;
  }

  .discription__flex-text {
    font-size: 4vw;
  }

  .recording__start {
    font-size: 4vw;
    margin-bottom: 4vw;
  }

  .recording__today {
    font-size: 6vw;
    font-weight: bold;
    margin-bottom: 4vw;
    text-align: center;
  }

  .recording__link {
    font-size: 4vw;
    padding: 5vw 0;
    width: 70%;
    text-align: center;

  }

  .services__title {
    font-size: 5vw;
    padding: 5vw 0;
  }

  .services__list {
    width: 90vw;
    margin: 0 auto;
  }

  .services__list-top {
    display: flex;
    flex-wrap: wrap;
  }

  .services__list-bottom {
    display: flex;
    flex-wrap: wrap;
  }

  .services__element {
    width: 49%;
    height: 30vw;
  }

  .services__img {
    width: 10vw;
    padding-bottom: 3vw;
  }

  .services__text {
    font-size: 4vw;
  }


  .services__link {
    font-size: 3vw;
    padding: 2.8vw 10vw;
  }


  .gallery h2 {
    padding: 5vw 0;
    text-align: center;
    font-size: 5vw;
    width: 30vw;
  }

  .image {
    width: 35vw;
    height: 25vw;
  }


  .gallery {
    background-color: #161616;
  }

  .services-detail h2 {
    font-size: 5vw;
    padding-bottom: 9vw;
  }

  .services__element-img {
    width: 100%;
    margin-right: 0;
    margin-bottom: 2vw;
  }

  .services__element-text h3 {
    font-size: 5vw;
    padding-bottom: 2.5vw;
  }

  .services__element-info  {
    width: 100%;
  }

  .services__element-info * {
    width: 100%;
    font-size: 3.5vw !important;
    line-height: 140% !important;
  }

  .news-block__img {
    width: 100%;
    margin-right: 0;
    margin-bottom: 5vw;
  }

  .wrapper-news__new__title {
    width: 100%;
    margin-bottom: 3vw;
    font-size: 5vw;
  }

  .wrapper-news__text {
    width: 100%;
    margin-bottom: 2vw;
  }

  .wrapper-news__text * {
    font-size: 3.5vw !important;
    line-height: 140% !important;
  }

  .news-block {
    display: flex;
    flex-direction: column;
    margin-top: 10vw;
    align-items: flex-start;
  }

  .wrapper-news__new__date {
    font-size: 3vw;
  }

  .contact-page__items {
    padding-top: 65vw;
    flex-direction: column !important;
    width: 53.43vw;
    margin: 0 auto;
    margin-bottom: 15vw;
  }

  .contact-page__items__blocks img {
    width: 15vw;
    margin: 0 auto;
    margin-bottom: 3vw;
  }

  .contact-page__items__blocks a {
    font-size: 3vw;
  }

  .contact-page__items__blocks p {
    font-size: 3vw;
  }

  .contact-page__items__blocks {
    margin-bottom: 12vw;
  }


  .teams-block__info {
    margin-top: 4.89vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
  }

  .teams-block__info img {
      max-width: 100%;
  }

  .teams-block__info__text-left {
    text-align: left;
    width: 100%;
    order: 2;
  }

  .teams-block__img {
    width: 100%;
    margin-bottom: 5vw;
  }

  .teams-info-block__title {
    font-size: 5vw;
    margin-bottom: 2vw;
  }

  .teams-info-block__info {
    font-size: 3vw;
  }

  .teams-info-block__li {
    margin-bottom: 2vw;
    font-size: 3vw;
  }

  .teams-block__info__text-right {
    width: 100%;
  }

  .service h2 {
    font-size: 3.81vw;
    padding-bottom: 2.5vw;
  }

  .service__list li {
    padding-bottom: .5vw;
    font-size: 3vw;
  }

  .btn-slider svg {
    fill: #fff;
    width: 10vw !important;
    height: 10vw !important;
  }

  .service {
    padding: 60vw 10.41vw 10.33vw 10.41vw;
  }

  .header__title h1 {
    font-size: 5.5vw;
    padding-right: 3vw;
  }

  .header__title-element {
    width: 30vw;
    font-size: 3.5vw;
    padding-top: 1vw;
  }


  .footer__flex {
    flex-direction: column;
    font-size: 3vw;
    padding-bottom: 2vw;
  }

  .footer__address p {
    margin-bottom: 2vw;
  }

  .footer__number-text {
    margin-bottom: 2vw;
  }

  .footer__wrapper {
    flex-direction: column;
    font-size: 3vw;
    align-items: flex-start;
  }

  .footer__wrapper p {
    margin-bottom: 2vw;
  }

  .cards__top, .cards__bottom {
    padding: 0 10.41vw 0 10.41vw;
    margin-bottom: 4.11vw;
    flex-direction: column;
  }

  .card__img {
    width: 30%;
    height: auto;
    order: 1;
    margin-bottom: 3vw;
  }

  .cards__name-start {
    display: flex;
    align-items: center;
    height: 6.51vw;
    width: 90%;
    order: 2;
    margin: 0 auto;
  }

  .cards__timetable {
    font-size: 3vw;
    margin-bottom: 1vw;
  }

  .cards__description-start {
    align-items: center;
    font-size: 3vw;
    padding-right: 0;
    border-right: none;
    order: 3;
    margin-top: 12vw;
  }

  .cards__start, .cards__end {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
    margin-bottom: 12vw;
  }

  .cards__start svg, .cards__end svg {
    width: 100%;
    margin-bottom: 3vw;
  }

  .cards__name-start h3 {
    font-size: 5vw;
    margin-bottom: 2vw;
  }

  .timetable__flex-start {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }


  .cards__name-end {
    order: 2;
    display: flex;
    align-items: center;
    height: 6.51vw;
    width: 90%;
    margin: 0 auto;
  }

  .cards__description-end {
    align-items: center;
    font-size: 3vw;
    padding-left: 0;
    border-left: none;
    order: 3;
    margin-top: 12vw;
  }

  .cards__title {
    font-size: 5vw;
    padding: 25vw 0 10vw 0;
  }

  .cards__name-end h3 {
    font-size: 5vw;
    margin-bottom: 2vw;

  }

  .slider-wrapper {

    outline: none;
    padding-bottom: 15vw;
  }

  .slider-wrapper-index {
    min-height: 102vw;

  }

  .main {
    height: 102vw;
  }

  .cards__description-start ul li {
    font-size: 3vw;
    padding-right: 0;
    padding-bottom: 1.2vw;
  }

  .cards__description-end ul li {
    font-size: 3vw;
    padding-right: 0;
    padding-bottom: 1.2vw;
  }

  .teams-block__title {
    width: 100%;
    font-size: 4vw;
    padding-top: 26vw;
  }

  .teams-block__info__text-left div {
    margin-bottom: 9vw !important;
    font-size: 3vw !important;
  }

  .teams-block__info__text-left div * {
    margin-bottom: 3vw;
  }

  .team {
    background-image: none;
  }

  .teams-block__info__text-right div {
    margin-bottom: 9vw !important;
  }

  .teams-block__info__text-right div * {
    font-size: 3.5vw !important;
    line-height: 140% !important;
    margin-bottom: 6vw !important;
    word-break: break-word;
  }

  .services__element__detail {
    width: 100%;
    flex-direction: column;
    padding-bottom: 10vw;
  }

  .header__menu {
    display: none;
  }

  .burger-menu {
    display: block;
    margin-right: 8vw;
    width: 9vw;
  }

  header {
    display: flex;
    padding: 6vw 10.51vw 0 0;
    align-items: center;
  }

  .header__title {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    color: #fff;
    text-decoration: none;
    font-size: 3vw;
  }

  .nav-mobail {
    position: absolute;
    top: 25vw;
    left: 0;
    background: #030302;
    width: 100vw;
    height: 100vh;
    z-index: 99999999;
  }

  .nav-mobail nav {
    display: flex;
    flex-direction: column;
    padding: 6vw 10.51vw 0 10.31vw;
  }

  .nav-mobail nav span a {
    display: block;
    font-size: 4vw;
    padding: 4vw 0;
    border-bottom: 1px solid rgba(256, 256, 256, 0.2);
  }


  .schedule-headers {
    display: flex;
    flex-direction: column;
  }

  .schedule-headers__item {
    width: 100%;
  }

  .schedule-headers__title {
    font-size: 3vw;
    padding: 4vw 0;
  }

  .schedule-occupation__item {
    padding: 3vw 0;
  }

  .schedule-occupation__title {
    font-size: 4vw;
    margin-bottom: 1.5vw;
  }

  .schedule-occupation__name {
    font-size: 3vw;
    margin-bottom: 1.25vw;
  }

  .schedule-occupation__time {
    font-size: 3vw;
    margin-bottom: 1.25vw;
  }

  .all__cards {
    background-image: none;
  }

  .wrapper-cards-tel {
    padding: 0 10.51vw 8vw 10.31vw;
  }

  .wrapper-cards-tel p {
    font-size: 3vw;
    color: #fff;
  }

  .title-header-news {
    font-size: 5vw;
  }

  .contact-page {
    background-image: url(./bg-contact.jpg);
    background-size: cover;
    background-position: 45% top;
    height: 100vh;
  }

  .services-detail {
    padding: 26vw 10.46vw 3vw 10.46vw;
  }

  .news {
    padding-top: 26vw;
  }

  .discription__flex-element {
    width: 8.1vw;
    margin-bottom: 5vw;
  }

  .recording {
    padding: 22vw 0 4.37vw 0;
  }

  .wrapper-filter {
    margin-bottom: 10vw;
    width: 100%;
  }

  .filter-title {
    font-size: 3vw;
    padding: 4vw 0;
  }

  .filter-list {
    position: absolute;
    padding: 4vw;

  }

  .filter-list p {
    font-size: 3vw;
    margin-bottom: 5vw;
    cursor: pointer;
  }

  .date-schedule {
    width: 55vw;
    padding-bottom: 5vw;
  }

  .date-schedule p {
    font-size: 5vw;
    text-align: center;
    color: #FFFFFF;
    font-weight: 700;
  }

  .header__title img {
    width: 40vw;
  }

  .logo-ozone {
    display: block;
    padding: 5vw 0;
    margin: 0 auto;
    width: 58vw;
  }

  .logo-ozone__footer {
    width: 40vw;
  }

  .wrapper__footer-link-media {
    justify-content: flex-start;
    margin-top: 2vw;
  }

  .footer-link-media {
    width: 7vw;
    margin-left: 0;
    margin-right: 3vw;
  }

  .wrapper-news {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }

  .video {
    padding: 26vw 0 0 0;
    min-height: auto;
  }

  .footer-link-media img {
    width: 8vw;
    margin-right: 3vw;
  }

  .footer-link-media {
    width: 100%;
    margin-left: 0;
    margin-right: 3vw;
  }

  .footer-link-media p {
    font-size: 4vw;
    color: #fff;
  }

  .forms {
    width: 90vw;
    margin-top: 25vw;
  }

  .form-title {
    font-size: 5vw;
    text-align: left;
  }

  .form-info {
    width: 100%;
    margin: 0 auto;
    margin-top: 2vw;
    font-size: 4vw;
    text-align: left;
  }

  .wrapper-form-item {
    margin-top: 3vw;
    width: 100%;
  }

  .wrapper-form-item__name {
    font-weight: 800;
    font-size: 3vw;
  }

  .wrapper-form-item__input {
    margin-bottom: 1.25vw;
    padding: 2.8vw;
    font-size: 4vw;
    box-sizing: border-box;
  }

  .forms-submit {
    width: 100%;
    font-size: 4vw;
    padding: 2.8vw 0;
    margin-top: 5vw;
  }
}
