<template>
  <div>
    <mainPageSlider />
    <stock v-if="stock.length !== 0" :stock="stock" />
    <about/>
    <serv/>
    <section class="gallery">
      <h2>ГАЛЕРЕЯ:</h2>
      <div class="wrapper-gallary clearfix">
        <VueGallery :images="images" :index="index" @close="index = null"></VueGallery>
        <div
          class="image clearfix"
          v-for="(image, imageIndex) in images"
          :key="imageIndex"
          @click="index = imageIndex"
          :style="{ backgroundImage: 'url(' + image + ')'}"
        ></div>
      </div>

    </section>
    <footerSite class="clearfix" />

  </div>
</template>

<script>
  import mainPageSlider from "@/components/slider/mainPageSlider";
  import about from "@/components/about";
  import serv from "@/components/serv";
  import footerSite from "@/components/footerSite";
  import VueGallery from 'vue-gallery';
  import stock from "@/components/stock";

  export default {
    components: {
      mainPageSlider, about, serv, footerSite, VueGallery,stock
    },
    data: function () {
      return {
        images: [],
        index: null,
        stock : {}
      };
    },
    mounted() {
      const url = `http://api.ozone48.ru/`;
      fetch(url)
      .then( res => res.json() )
      .then( res => {

        let images = [];

        for( let i = 0; i< res.gallery.length; i++  ){
          this.images.push(res.gallery[i].image)
        }

        this.stock = res.stock

      })
    }
  }
</script>

<style>

</style>
